{% extends "network/layout.html" %} {% load static %}

{% block body %}
<div class="card" style="width: 80%; margin-left: 2rem;margin-top: 10px; padding: 10px;">
    <div style="border: none; width: 80%;">
        <table class="table-borderless table-sm">
            <thead>
              <tr>
                <th scope="col"><img src="https://www.shutterstock.com/image-vector/cute-cat-face-line-icon-260nw-2269420165.jpg"  style="border: radius 80%;width:50px"; >
                </th>
                <th scope="col"><h4>{{ user }}</h4></th>
              </tr>
            </thead>
        </table>
        </div>
    <div style="border: none; width: 80%;">
    <table class="table-borderless table-sm" id="tab">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; vertical-align: middle;">Followers</th>
            <th scope="col" style="text-align: center; vertical-align: middle;">Following</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="followers" style="text-align: center; vertical-align: middle; font-size:20px;"><strong>{{profile.follower.count}}</strong><br></td>
           <td style="text-align: center; vertical-align: middle;font-size: 20px;"><strong>{{profile.following.count}}</strong><br></td>
          </tr>
        </tbody>
    </table>
    </div>
{% if user.is_authenticated %}
{% if user != request.user %}
<div>
    <button
    class="btn btn-dark btn-sm mx-2 h-25"
    id="follow-btn"
    data-user="{{user.username}}"
    >
    {%if user in users_profile.following.all%}
        Unfollow
    {%else%}
        Follow
    {%endif%}
    </button><br>
</div>
{% endif %}
{% endif %}
</div>
<br>
<div class="card" style="width: 80%; margin-left: 2rem; padding: 10px;">
    <h6>Posts</h6>
    {% for post in allposts %}
        <div class="card" style="margin-left: 1rem; margin-right: 1rem; margin-top: 10px; padding: 10px; background-color: antiquewhite;">
            {% if not post%}
                <p>No pawsts yet.</p>
            {% else %}
                <a class="links" href="{% url 'profile' post.user.username%}">
                    <img style="height: 30px; border-radius: 50%;" src="https://img.icons8.com/?size=100&id=cCBSbo12R7Il&format=png&color=000000">
                    <strong>{{ post.user.username }}</strong>
                </a>
                <p style="font-size: smaller;">{{ post.timestamp }}</p>
                <h6 id="post-content-{{post.id}}">{{ post.content }}</h6>
                {% if request.user == post.user%}
                    <textarea data-id="{{post.id}}" id="post-edit-{{post.id}}" style="display:none;" class="form-control textarea" row="3">{{post.content}}</textarea>
                {%endif%}

                <div class="like my-3">
                    <img
      data-id="{{post.id}}"
      id="post-like-{{post.id}}"
        class="liked"
        {% if not request.user in post.like.all %}
        data-is_liked="no"
        src="https://img.icons8.com/carbon-copy/100/000000/like--v2.png"
{%else%}
data-is_liked="yes"
        src="https://img.icons8.com/?size=100&id=123964&format=png&color=000000"
        {%endif%}
      />
                    
                    <span id="post-count-{{post.id}}">{{post.like.count}}</span>
                </div>
                {% if request.user == post.user%}
                <button class="text-primary edit" data-id="{{post.id}}" id="edit-btn-{{post.id}}" style="width: fit-content;">Edit</button>
                {%endif%}
            {% endif %}
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example" style="margin-top: 15px;">
        <ul class="pagination">
            {% if inpage.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ inpage.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% if inpage.has_next %}
                <li class="page-item" style="margin-left: 3px;"><a class="page-link" href="?page={{ inpage.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block script %} {%if request.user != user%} <script src="{% static 'network/follow.js'%}"></script>{%endif%} {% endblock %}
